$secondaryColor: #c6a85b;

.cart-container {
  position: absolute;
  top: 0;
  right: -100%;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  z-index: 98;
  background: white;
  padding: 40px 0;
  transition: 0.3s ease-in-out;
  opacity: 0;

  .inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cart-products-container {
      overflow-y: auto;
      overflow-x: hidden;
      margin-top: 20px;

      .cart-product {
        width: 100%;
        border-bottom: 1px solid rgb(197, 197, 197);
        padding: 0px 15px 20px 15px;
        margin-top: 15px;

        .product-img {
          height: 60px;
          img {
            height: 100%;
          }
        }
        .product-name {
          height: 100%;
          display: flex;
          // flex-direction: column;
          align-items: center;

          h2 {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            color: gray;
          }

          h3 {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 1px;
            max-width: 90px;
            color: rgb(80, 80, 80);
          }
        }
        .product-qty {
          height: 100%;
          display: flex;
          align-items: center;

          h4 {
            font-size: 14px;
          }
        }
        .product-price {
          height: 100%;
          display: flex;
          align-items: center;
          h3 {
            font-size: 16px;
          }
        }
        .product-delete {
          height: 100%;
          display: flex;
          align-items: center;
          cursor: pointer;

          img {
            height: 15px;
            width: 15px;
          }
        }
      }
    }

    .cart-checkout-container {
      width: 100%;
      border-top: 1px solid rgb(199, 199, 199);
      padding-top: 20px;

      .total {
        display: flex;
        justify-content: space-between;
        padding: 10px 50px;

        h3 {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 600;
        }

        h4 {
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
        }
      }

      .checkout {
        width: 100%;
        padding: 0 20px;

        button {
          width: 100%;
          height: 45px;
          border: none;
          background: $secondaryColor;
          transition: 0.2s ease-in-out;

          a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
          }
        }

        button:hover {
          background: #a08749;
        }

        button:focus {
          outline: none;
        }
      }
    }
  }
}

.open-cart {
  opacity: 1;
  right: 0;
}
