$primaryColor: #c6a85b;

.home-page {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/pattern_grande_bg.webp);
  background-repeat: repeat;
  background-color: #f0f0f0;
  padding-bottom: 50px;

  .header-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;
    @media (min-width: 576px) {
      padding: 80px 0;
    }
    @media (min-width: 768px) {
      padding: 100px 0;
    }
    @media (min-width: 992px) {
      padding: 0;
    }

    .gold-img {
      position: relative;
      width: 145px;
      height: 400px;
      background-image: url(../../assets/home-imgs/gold-image.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @media (min-width: 576px) {
        width: 180px;
        height: 500px;
      }
      @media (min-width: 768px) {
        width: 350px;
        height: 580px;
      }
      @media (min-width: 992px) {
        height: 650px;
        width: 40%;
      }

      @media (max-width: 400px) {
        width: 120px;
        height: 320px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $primaryColor;
        mix-blend-mode: multiply;
      }
    }

    .main-img-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .main-img {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          top: 25%;
          left: 0;
          width: 80%;
          @media (min-width: 768px) {
            top: 20%;
            width: 75%;
          }
          @media (min-width: 992px) {
            top: 20%;
            left: 10%;
            width: 60%;
          }
          @media (min-width: 1200px) {
            top: 50%;
            left: 50%;
            width: 700px;
            height: 450px;
            transform: translate(-50%, -50%);
          }
        }

        h1 {
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 3;
          color: $primaryColor;
          text-transform: uppercase;
          font-size: 24px;

          @media (min-width: 992px) {
            left: 35px;
            font-size: 30px;
          }
          @media (min-width: 1024px) {
            left: 35px;
            font-size: 30px;
            width: 500px;
          }
          @media (min-width: 1200px) {
            left: 35px;
            top: 25%;
            width: 500px;
            font-size: 40px;
            line-height: 4rem;
          }
        }

        button {
          position: absolute;
          bottom: 50px;
          left: 30px;
          z-index: 3;
          background: black;
          color: white;
          text-transform: uppercase;
          padding: 10px 30px;
          border: none;
          letter-spacing: 1px;
          @media (min-width: 768px) {
            top: 80px;
            left: 100px;
            bottom: unset;
          }
          @media (min-width: 992px) {
            top: 110px;
            left: 130px;
            bottom: unset;
          }
          @media (min-width: 1200px) {
            top: 60%;
            left: 50px;
            bottom: unset;
          }
        }
      }
    }
  }

  .section-1 {
    width: 90%;
    margin: auto;
    background-color: white;

    overflow: hidden;
    @media (min-width: 992px) {
      margin-top: 50px;
    }

    .discover-img {
      position: relative;
      width: 100%;
      height: 230px;
      background-image: url(../../assets/home-imgs/collection.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @media (min-width: 768px) {
        height: 300px;
      }
      @media (min-width: 992px) {
        height: 350px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $primaryColor;
        mix-blend-mode: multiply;
      }

      h2 {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        color: white;
        font-weight: 300;
        font-size: 2.2rem;
      }
    }

    .discover-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: 992px) {
        height: 350px;
      }
      p {
        font-weight: 100;
        color: rgb(66, 66, 66);
      }
    }
  }

  .section-2 {
    width: 90%;
    margin: auto;

    .collection-title {
      padding-top: 45px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 1.8rem;
      @media (min-width: 768px) {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 2.2rem;
      }
    }

    a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: white;
    }

    .collection {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;

      .collection-image {
        position: relative;
        width: 100%;
        height: 380px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 300px;
        overflow: hidden;

        .collection-hover {
          position: absolute;
          left: 0;
          bottom: -190px;
          width: 100%;
          background-color: rgba($color: $primaryColor, $alpha: 0.9);
          padding: 20px;
          transition: 0.3s ease-in-out;
          height: 270px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h2 {
            font-size: 1.8rem;
            font-weight: 200;
            letter-spacing: 1px;
            margin-bottom: 25px;
          }
          p {
            font-weight: 100;
            line-height: 1.6rem;
          }
          button {
            border: none;
            padding: 10px 40px;
            transition: 0.2s ease-in-out;
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 500;
          }
          button:hover {
            background-color: #a78d4d;
            color: white;
          }
        }

        .collection-hover:hover {
          bottom: 0px;
          background-color: rgba($color: $primaryColor, $alpha: 1);
        }
      }
      .accessories {
        background-image: url(../../assets/home-imgs/catalog_accessories.jpg);
      }
      .headphones {
        background-image: url(../../assets/home-imgs/catalog_headphones.jpg);
      }
      .earphones {
        background-image: url(../../assets/home-imgs/catalog_earphones.jpg);
      }
    }
  }

  .section-3 {
    width: 90%;
    margin: auto;
    .testimonials-title {
      padding-top: 45px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 1.8rem;
      @media (min-width: 768px) {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 2.2rem;
      }
    }

    .testimonials {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 80px 20px 20px 20px;
      background-color: white;
      text-align: center;

      h4 {
        font-size: 1rem;
        color: black;
      }

      p {
        font-weight: 100;
        color: rgb(80, 80, 80);
      }

      .avatar {
        position: absolute;
        top: -18%;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: $primaryColor;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }

  .section-4 {
    position: relative;
    width: 100%;
    max-height: 450px;
    overflow: hidden;

    img {
      width: 100%;
    }
    .promotion-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";

      top: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
    }

    .promotion-text {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      h2 {
        color: rgb(235, 235, 235);
        font-size: 1.2rem;
        text-align: center;
        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }
      h3 {
        color: rgb(235, 235, 235);
        font-size: 1.4rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 30px;
        @media (min-width: 768px) {
          font-size: 2.2rem;
        }
      }
    }
  }

  .section-5 {
    width: 90%;
    margin: 30px auto;

    .featured-products-title {
      padding-top: 45px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 1.8rem;
      text-align: center;
      @media (min-width: 768px) {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 2.2rem;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }

    .featured-product {
      width: 100%;
      background-color: white;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;

      img {
        width: 90%;
      }

      .featured-product-text {
        width: 100%;
        text-align: center;
        padding-top: 20px;

        p {
          text-transform: uppercase;
          color: grey;
          font-size: 0.7rem;
          letter-spacing: 2px;
        }

        h3 {
          font-size: 1.1rem;
          font-weight: 600;
          text-transform: uppercase;
        }

        h4 {
          font-size: 1.1rem;
          margin-top: 25px;
        }
      }
    }

    .featured-product:hover {
      box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 1);
    }
  }

  .section-6 {
    width: 90%;
    margin: auto;

    .featured-blog-title {
      padding-top: 45px;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 1.8rem;
      text-align: center;
      @media (min-width: 768px) {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 2.2rem;
      }
    }

    .featured-blog {
      margin-top: 30px;
      width: 100%;
      background-color: white;

      img {
        width: 100%;
      }

      h6 {
        font-size: 0.7rem;
        letter-spacing: 2px;
        color: grey;
        text-transform: uppercase;
      }

      h5 {
        margin-top: 20px;
      }
      p {
        margin-top: 20px;
        color: rgb(70, 70, 70);
      }

      .read-more-link {
        width: 100%;
        overflow: hidden;
        a {
          position: relative;
          text-decoration: none;
          color: $primaryColor;
          text-transform: uppercase;
          font-size: 0.7rem;
          font-weight: 700;
          letter-spacing: 2px;

          &::before {
            position: absolute;
            left: -100%;
            bottom: -2px;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $primaryColor;
            transition: 0.1s ease-in-out;
          }
        }

        a:hover {
          &::before {
            left: 0;
          }
        }
      }
    }
  }
}
